<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Employee Management</title>
</head>
<body>
    <header>
        <h1>Employee Management System</h1>
        <hr />
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <hr />
        <p>&copy; 2025 - EMS</p>
    </footer>
</body>
</html>
